.btn {
    flex-shrink: 1;
    flex-grow: 1;
    -unity-font-definition: url("project://database/Assets/SOManagementWindow/Font/DNFForgedBlade-Medium.ttf?fileID=12800000&guid=57d31f5b8589fcb4685194f4e84723b1&type=3#DNFForgedBlade-Medium");
}
